
lexical-input {
    display: block;
    & .content {
        position: relative;
        & input {
            position: relative;
            width: 100%;
            outline: none;
            border: none;
            padding: 0;
            font-size: inherit;
            font-family: inherit;
        }
        & label {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            color: rgb(210,210,210);
            font-family: inherit;
            transform-origin: top left;
            transform: translateY(0) scale(1);
            transition: transform 0.2s ease-out;
            &.offset {
                transform: translateY(-1em) scale(0.6);
                transition: transform 0.2s ease-out;
            }
        }
    }
    &[label-offset="below"] .content label.offset {
        transform: translateY(1.6em) scale(0.6);
        transition: transform 0.2s ease-out;
    }
    &[alignment="center"] {
        & input {
            text-align: center;
        }
        & label {
            text-align: center;
            transform-origin: top center;
        }
    }
    &[alignment="right"] {
        & input {
            text-align: right;
        }
        & label {
            text-align: right;
            transform-origin: top right;
        }
    }
    & .underline {
        width: 100%;
        height: 2px;
        margin-top: 0.2em;
        background: rgb(220,220,220);
        & .focused {
            width: 100%;
            height: 100%;
            background-color: rgb(197, 224, 220);
            transform: scaleX(0);
            transition: transform 0.2s ease;
        }
    }
    &[focused] > .underline > .focused {
        transform: scaleX(1);
        transition: transform 0.25s ease;
    }
}
